ENV=local
PORT=3000

# used by both the app (config/configuration.ts) and docker-compose (to provision the postgres container)
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=nest_cqrs

# used by the app (config/configuration.ts) to send notifications via Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
